body{
  background-color: #B8860B;
}
h1{
  font-family: 'Indie Flower', cursive;
}
p1{
  font-family: 'Amatic SC', cursive;
}

.btn{
  font-family: 'Kaushan Script', cursive;
  background-color: #008B8B;
  }
